/* Reset des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 80%);
}

h1 {
    margin-top: 2rem;
    color: hsl(0, 0%, 30%);
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#contenu {
    flex: 1;
}

/* Style de la barre de navigation */
nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    height: 3rem;
    line-height: 3rem;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;

}

nav ul li a:hover {
    background-color: #555;
}

/* Style du footer */
footer {
    margin-top: auto; /* Le footer reste en bas */
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 80%);
    text-align: center;
    padding: 10px 0;
}
